<!-- This file is a partial (hence the underscore in the title) rendered in Users#show view -->

<div class="col-xs-12 booking-wrap no-padding">
  <div class="booking-picture">
     <%= cl_image_tag "twjchiqlm70j8zjkvk4l", class: "avatar avatar-xs" %>
  </div>

  <div class="booking-list-content">
  <div class="booking-top">
    <div class="booking-title">
      <p class="booking-time-span"><%= b.course.start_time.day %> <%= b.course.start_time.strftime("%B") %> <%= b.course.start_time.hour %> - <%= b.course.end_time.hour %> h</p>
    </div>
    <div class ="booking-cost">
      <p><%= humanized_money_with_symbol(b.course.price) %></p>
    </div>
  </div>

    <div class="booking-list-info">
      <p><strong><%= b.course.title %></strong> <br>
        <span class="course-where"><%= b.course.studio.name %> <%= b.id %> </span></p>
      <% if b.course.start_time - Time.now > 0  %>
        <div class="booking-cancel btn-cancel">
          <%= link_to booking_path(b), method: :delete, data: { confirm: "Are you sure you want to cancel the booking?" } do %>
            <p><i class="fa fa-times" aria-hidden="true"></i> Cancel</p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if old %>
      <%= link_to new_course_review_path(course_id: b.course), class: "review-me" do %>
        <i class="fa fa-star"></i> Review
      <% end %>
    <% end %>
  </div>
</div>
