<!-- This file is a partial (hence the underscore in the title) rendered in Users#show view -->

<div class="col-xs-12 booking-wrap">
  <div class="booking-top">
    <div class="booking-title">
      <p class="booking-time-span"><%= b.course.start_time.day %> <%= b.course.start_time.strftime("%B") %> <%= b.course.start_time.hour %> - <%= b.course.end_time.hour %> h</p>
    </div>
    <div class="boooking-list-paystat">
    <% if b.state == 'pending' %>
      <p><span class="course-paystat btn btn-warning btn-status"><%= b.state %></span></p>
    <% elsif b.state == 'paid' %>
      <p><span class="course-paystat btn btn-success btn-status"><%= b.state %></span></p>
    <% else %>
      <p><span class="course-paystat btn btn-danger btn-status"><%= b.state %></span></p>
    <% end %>
    </div>
    <div class ="booking-cost">
      <p><%= humanized_money_with_symbol(b.course.price) %></p>
    </div>
  </div>

  <div class="booking-list-content">
    <div class="booking-list-info">
      <p><strong><%= b.course.title %></strong> | <span class="course-where"><%= b.course.studio.name %></span></p>
      <div class="booking-cancel btn-cancel"> <p><i class="fa fa-times-circle-o" aria-hidden="true"></i> Cancel</p>
      </div>
    </div>
    <% if old %>
      <%= link_to new_course_review_path(course_id: b.course), class: "review-me" do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
    <% end %>
  </div>
</div>
