<!-- This file is a partial (hence the underscore in the title) rendered in Courses#show view -->

<!-- Booking Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog center-modal-box" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title booking-modal-title" id="myModalLabel">
          Confirmation
        </h4>
      </div>
      <div class="modal-body booking-modal-body">
        <%= @course.title %>
        <br>
        <div class="confirmation-date">
          <%= date_words(@course.start_time) %> - <%= @course.start_time.strftime ("%l:%M %P") %>
        </div>
        <div class="confirmation-address">
          <%= @course.studio.address %>
        </div>
        <div class="booking-modal-cost">
          <%= humanized_money_with_symbol(@course.price) %>
        </div>

        <div class="payment">
          <%= form_tag bookings_path do %>
            <%= hidden_field_tag 'course_id', @course.id %>
            <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
