
  <%= render 'users/avatar-component', user: @user %>

  <div class="profile-main-info">
  <% if @user.first_name %>
    <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
    <% else %>
    <h1><%= @user.email %> </h1>
    <% end %>
  </div>

      <%= render 'users/photo-form', user: @user %>

    <div class="profile-info">
      <div class="historical-bookings">
        <h2>Upcoming bookings  <%= image_tag "down-arrow.svg", class: "icon" %></h2>
        <% upcoming_bookings = @user.bookings.select { |b| b.course.start_time - Time.now > 0 } %>
        <div class="row hidden">
          <% upcoming_bookings.each do |b| %>
            <%= render 'shared/booking-list', b: b %>
          <% end %>
        </div>
        </div>
      <div class="historical-bookings">
        <h2>History <%= image_tag "down-arrow.svg", class: "icon" %></h2>

        <% past_bookings = @user.bookings.select { |b| b.course.start_time - Time.now < 0 } %>
        <div class="row hidden">
          <% past_bookings.each do |b| %>
            <%= render 'shared/booking-list', b: b %>
          <% end %>
        </div>
      </div>

  <div class="settings">
    <h2><i class="fa fa-cog" aria-hidden="true"></i> Profile settings</h2>
  </div>
  </div>

