
  <%= render 'users/avatar-component', user: @user %>

  <div class="profile-info">
  <% if @user.first_name %>
    <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
    <% else %>
    <h1><%= @user.email %> </h1>
    <% end %>
  </div>

      <%= render 'users/photo-form', user: @user %>

  <div class="profile-info-container">
    <div class="profile-info">
      <h2>Upcoming bookings</h2>
          <% upcoming_bookings = @user.bookings.select { |b| b.course.start_time - Time.now > 0 } %>
          <div class="row">
            <% upcoming_bookings.each do |b| %>
              <%= render 'shared/booking-list', b: b %>
            <% end %>
          </div>

        <h2>History</h2>
        <% past_bookings = @user.bookings.select { |b| b.course.start_time - Time.now < 0 } %>
    </div>
  </div>

  <div class="settings">
    <h2><i class="fa fa-cog" aria-hidden="true"></i> Profile settings</h2>
  </div>

