<div class="container">
  <div class="profile-picture">
    <%# if @user.facebook_picture_url %>
      <%# avatar_url = @user.facebook_picture_url %>
      <%#= image_tag avatar_url, class: "avatar-lg" %>
    <% if @user.photo? %>
      <%= cl_image_tag @user.photo.path, width: 400, height: 400, crop: :fill, class: "avatar avatar-lg" %>
    <% else %>
      <%= image_tag "placeholder.jpg", class: "avatar-lg"%>
    <% end %>
  </div>
 <%= simple_form_for (@user) do |f| %>
  <%= f.input :photo, as: :attachinary %>
  <%= f.submit "Update Photo", class: "btn btn-photo" %>
  <% end %>

  <div class="profile-info">
  <% if @user.first_name %>
    <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
    <% else %>
    <h1><%= @user.email %> </h1>
    <% end %>
  </div>

  <div class="profile-info-container">
    <div class="profile-info">
      <h2>Upcoming bookings</h2>
      <% upcoming_bookings = @user.bookings.select { |b| b.start_time - Time.now > 0 } %>
        <% upcoming_bookings.each do |b| %>
          <%= @courses.find(b.course_id).name %>
          <%= @courses.find(b.course_id).start_time.date %>
          <%= @courses.find(b.course_id).start_time %> <%= @courses.find(b.course_id).end_time %>


    </div>


  </div>
</div>
