<div class="new-booking-button" data-toggle="modal" data-target="#bookingModal">
  <h3>Join</h3>
</div>

<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog center-modal-box" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title booking-modal-title" id="myModalLabel">
          Confirmation
        </h4>
      </div>
      <div class="modal-body booking-modal-body">
        <%= course.title %>
        <br>
        <div class="confirmation-date">
          <%= date_words %> - <%= course.start_time.strftime ("%l:%M %P") %>
        </div>
        <div class="confirmation-address">
          <%= course.studio.address %>
        </div>
        <div class="booking-modal-cost">
          <% cost_amount = course.cost %>
          <% if cost_amount - cost_amount.to_i == 0 %>
            <%= cost_amount.to_i %> <i class="fa fa-euro"></i>
          <% else %>
            <%= course.cost%> <i class="fa fa-euro"></i>
          <% end %>
        </div>
        <%= simple_form_for(Booking.new, remote: true) do |f| %>
          <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.input :course_id, as: :hidden, input_html: { value: course.id } %>
          <div class="text-center confirm-button-margin">
            <%= f.submit "Confirm", class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
