
<div class="col-xs-12">
  <div class="booking-top">
    <div class="booking-title">
      <p><%= b.course.start_time.day %> <%= b.course.start_time.strftime("%B") %> <%= b.course.start_time.hour %> - <%= b.course.end_time.hour %> h</p>
      </div>
    <div class ="booking-cost">
      <p><%= b.course.cost.round(3) %> €</p>
    </div>
  </div>
  <div class="booking-list-content">
    <strong><p><%= b.course.title %> </strong> at <%= b.course.studio.name %></p>
  </div>
</div>
