<div class="col-xs-12 booking-wrap">
  <div class="booking-top">
    <div class="booking-title">
      <p class="booking-time-span"><%= b.course.start_time.day %> <%= b.course.start_time.strftime("%B") %> <%= b.course.start_time.hour %> - <%= b.course.end_time.hour %> h</p>
    </div>

    <div class ="booking-cost">
      <% cost_amount = b.course.cost %>
      <% if cost_amount.to_i - cost_amount == 0 %>
      <p><%= cost_amount.to_i %> €</p>
      <% else %>
      <p><%= cost_amount.round(3) %> €</p>
      <% end %>
    </div>
  </div>

  <div class="booking-list-content">
    <p><strong><%= b.course.title %></strong> | <span class="course-where"><%= b.course.studio.name %></span></p>
    <% if old %>
      <%= link_to new_course_review_path(course_id: b.course), class: "review-me" do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
    <% end %>
  </div>
</div>
