<div class="row-course">
    <div class="col-xs-12 no-padding">
      <div class="course-card">
        <div class="studio-picture" style="background-image: url('<%= cl_image_path course.studio.cld_id %>');">
          <!-- <img src="http://www.studio89fitness.com/images/background/6.jpg" alt="studio"> -->
        </div>
        <div class="info">
        <div class="spots">
          <%= course.spots - course.bookings.length %> spots left!
        </div>
          <div class="distance">
            <i class="fa fa-map-marker"></i> 3.5 km
          </div>
          <p class="course-price">
            <%= course.cost.round %>€
          </p>
          <h3 class="course-title">
            <%= course.title %>
          </h3>
          <div class="studio-title">
            <h4 class="studio-card-title"><%= course.studio.name %></h4>
          </div>
          <div class="star-ratings-css-small">
            <%= render 'shared/stars', course: course %>
          </div>
          <p class="course-times">
            <% if course.start_time.to_date == Date.today %>
              Today
            <% elsif course.start_time.to_date == (Date.today + 1) %>
              Tomorrow
            <% else %>
              <%= course.start_time.strftime('%A, %b %d') %>
            <% end %>
            <p class="course-times">
              <%= course.start_time.strftime("%l:%M %p") %> - <%= course.end_time.strftime("%l:%M %p") %>
            </p>
          </p>
          <!-- <p class="level"><%= course.level %> </p> -->
        </div>
      </div>
    </div>
</div>
