<div class="row-course">
    <div class="col-xs-12 no-padding">
      <div class="course-card">
        <img src="http://www.studio89fitness.com/images/background/6.jpg" alt="studio">
        <h4 class="distance">3.5 km</h4>
        <p class="course-price">
        <%= course.cost %>€
        </p>
        <div class="info">
          <h3 class="course-title">
            <%= course.title %>
          </h3>
          <div class="studio-title">
            <h4><%= course.studio.name %></h4>
          </div>
          <div class="star-ratings-css-small">
            <div class="star-rating-css-top" style = "width: 100%;">
              <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
            </div>
            <div class="star-rating-css-bottom">
              <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
            </div>
          </div>
          <p class="course-times">
            <% if course.start_time.to_date == Date.today %>
              Today
            <% elsif course.start_time.to_date == (Date.today + 1) %>
              Tomorrow
            <% else %>
              <%= course.start_time.strftime('%A, %b %d') %>
            <% end %>
            <p class="course-times">
              <%= course.start_time.strftime("%l:%M %p") %> - <%= course.end_time.strftime("%l:%M %p") %>
            </p>
          </p>
          <!-- <p class="level"><%= course.level %> </p> -->
        </div>
      </div>
    </div>
</div>
