<div class="filter-container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#day-tab">Day</a></li>
    <li><a data-toggle="tab" href="#category-tab">Category</a></li>
    <li><a data-toggle="tab" href="#level-tab">Level</a></li>
    <li><a data-toggle="tab" href="#distance-tab">Distance</a></li>
  </ul>

</div>
<%# render 'reviews/form', courses: @courses %>
<%# render 'shared/form-filters', courses: @courses %>

<%= render 'shared/form_filters' %>

<div class="chosen-filters-container">
  <div class="chosen-filters">
    <div class="chosen-category" id="chosen-day">
    <% if params[:search_day] %>
      <p class="chosen-item">x    <%= params[:search_day].capitalize %> </p>
    <% end %>
    </div>
    <div class="chosen-category" id="chosen-category">
    </div>
    <div class="chosen-category" id="chosen-level">
    </div>
    <div class="chosen-category" id="chosen-distance">
    </div>
  </div>
  <div class="refresh-button" data-day="next_seven" data-level="" data-category="" data-distance="">
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </div>
</div>

<div class="tab-content hidden">
  <div id="day-tab" class="tab-pane fade active in">
    <div class="days-container">
      <button type="button" class="button-day <%= "active" if params[:search_day] == "today" %>" data-day="today"><p>Today</p></button>
      <button type="button" class="button-day" data-day="tomorrow"><p>Tomorrow</p></button>
      <button type="button" class="button-day" data-day="next_seven"><p>+7 Days</p></button>
    </div>
  </div>


  <div id="category-tab" class="tab-pane fade">
      <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide button-category" data-category="Yoga">
              <%= image_tag 'buddhist-yoga-pose' %>
              <div class="category-text">
                <p>Yoga</p>
              </div>
            </div>
            <div class="swiper-slide button-category" data-category="Crossfit">
              <%= image_tag 'weightlifting' %>
              <div class="category-text">
                <p>Crossfit</p>
              </div>
            </div>
            <div class="swiper-slide button-category" data-category="Kickboxing">
              <%= image_tag 'mma' %>
              <div class="category-text">
                <p>Kickboxing</p>
              </div>
            </div>
            <div class="swiper-slide button-category" data-category="Dance">
              <%= image_tag 'dancer' %>
              <div class="category-text">
                <p>Dance</p>
              </div>
            </div>
            <div class="swiper-slide button-category" data-category="Pilates">
              <%= image_tag 'buddhist-yoga-pose' %>
              <div class="category-text">
                <p>Pilates</p>
              </div>
            </div>
            <div class="swiper-slide button-category" data-category="HIIT">
              <%= image_tag 'stretch' %>
              <div class="category-text">
                <p>HIIT</p>
              </div>
            </div>
            <div class="swiper-slide button-category" data-category="Martial Arts">
              <%= image_tag 'mma' %>
              <div class="category-text">
                <p>Martial Arts</p>
              </div>
            </div>
        </div>
        </div>
        </div>

  <div id="level-tab" class="tab-pane fade">
    <div class="level-container">
      <button type="button" class="btn button-level" data-level="Beginner"><p>Beginner</p></button>
      <button type="button" class="btn button-level" data-level="Intermediate"><p>Intermediate</p></button>
      <button type="button" class="btn button-level" data-level="Advanced"><p>Advanced</p></button>
    </div>
  </div>
  <div id="distance-tab" class="tab-pane fade">
    <div class="distance-container">
      <button type="button" class="btn button-distance"><p>1 km</p></button>
      <button type="button" class="btn button-distance"><p>3 km</p></button>
      <button type="button" class="btn button-distance"><p>5 km</p></button>
      <button type="button" class="btn button-distance"><p>10 km</p></button>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
  $(document).ready(function(){

    $(".button-day").on("click", function(e) {
      $("#search_courses_day").attr('value', $(this).attr('data-day'));
      $("#search_courses").submit();
    });

    $(".button-level").on("click", function(){
      $("#search_courses_level").attr('value', $(this).attr('data-level'));
      $("#search_courses").submit();
    });

    $(".button-category").on("click", function(){
      $("#search_courses_category").attr('value', $(this).attr('data-category'));
      $("#search_courses").submit();
    });

    $("#chosen-day").on("click", function() {
      $("#search_courses_day").attr('value', "next_seven");
      $("#search_courses").submit();
    });

    $("#chosen-category").on("click", function() {
      $("#search_courses_category").attr('value', "");
      $("#search_courses").submit();
    });

    $("#chosen-level").on("click", function() {
      $("#search_courses_level").attr('value', "");
      $("#search_courses").submit();
    });

    $("#chosen-distance").on("click", function() {
      $("#search_crouses_distance").attr('value', "");
      $("#search_courses").submit();
    });

    $(".refresh-button").on("click", function() {
      $("#search_courses_day").attr('value', $(this).attr('data-day'));
      $("#search_courses_category").attr('value', $(this).attr('data-category'));
      $("#search_courses_level").attr('value', $(this).attr('data-level'));
      $("#search_crouses_distance").attr('value', $(this).attr('data-distance'));
      $("#search_courses").submit();
    });

    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 5,
        paginationClickable: true,
        spaceBetween: 20,
        freeMode: true
    });


  });
  </script>
<% end %>

