<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <h1 id="logo-heading-h1">FITFlex</h1>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Profile", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "About Us", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "FAQ", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".about_us", default: "About Us") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".faq", default: "FAQ") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
    <%= link_to "About Us", "#", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "FAQ", "#", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Sidebar appearing on mobile only -->
  <% if user_signed_in? %>
    <div class="navbar-wagon-right hidden-md hidden-lg">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>
    <div class="sidenav" id="mySidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="user-info">
        <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-xs" %>
        <h1>user name</h1>
        <h2>user email</h2>
      </div>
      <%= link_to "Profile", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "About Us", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "FAQ", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
    </div>
  <% else %>
    <div class="navbar-wagon-right hidden-md hidden-lg">
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </div>
  <% end %>
</div>
