<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand hidden-xs hidden-sm" do %>
    <%= image_tag "fitflex_logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <%= link_to "Profile", user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "About Us", about_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Favorites", user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "All Courses", courses_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.facebook_picture_url %>
            <%= image_tag current_user.facebook_picture_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% elsif current_user.photo? %>
            <%= cl_image_tag current_user.photo.path, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag cl_image_path("twjchiqlm70j8zjkvk4l"), class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to about_path do %>
                <i class="fa fa-home"></i>  <%= t(".about_us", default: "About Us") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
    <%= link_to "About Us", about_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Sidebar appearing on mobile only -->
  <% if user_signed_in? %>
    <!-- LOGO APP -->
    <%= link_to root_path, class: "navbar-wagon-brand hidden-md hidden-lg" do %>
      <%= image_tag "fitflex_logo.png" %>
    <% end %>

    <div class="sidenav" id="mySidenav">
      <i class="fa fa-times closebtn" onclick="closeNav()"></i>
      <div class="user-info">
        <% if current_user.facebook_picture_url %>
          <%= image_tag current_user.facebook_picture_url, class: "avatar-xs dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% elsif current_user.photo? %>
          <%= cl_image_tag current_user.photo.path, class: "avatar-xs dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% else %>
          <%= image_tag cl_image_path('twjchiqlm70j8zjkvk4l'), class: "avatar-xs dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% end %>
        <h1> <%= current_user.first_name %> <%= current_user.last_name %></h1>
        <h2> <%= current_user.email %> </h2>
      </div>
      <div class="user-nav">
        <div class="user-nav-links">
          <%= link_to "Profile", user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "About Us", about_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "Favorites", user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "All Courses", courses_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
        </div>
        <div class="nav-social-media">
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
      </div>
    </div>

    <div class="navbar-wagon-right hidden-md hidden-lg">
      <i class="fa fa-bars" style="cursor:pointer" onclick="openNav()"></i>
    </div>

  <% else %>
    <%= link_to root_path, class: "brand-not-logged-in" do %>
      <%= image_tag "fitflex_logo.png" %>
    <% end %>
  <% end %>
</div>
