<div class="about-wrapper">
  <div class="about-container">
    <div class="row">
      <div class="about-header">
        <div>
          <span class="underline">WELCOME<span><br>
        </div>
        <p class="header-description">We are Fitflex, a website where you can book fitness courses last minute and to a discounted price.</p>
      </div>
      <div class="about-card">
        <%=  image_tag 'Team', class: "about-image" %>

      </div>

      <div class="about-card">
        <p> Hi! We are Kris, Sey, Nhung, Alvaro and Maren. Five individuals with a passion for code -it makes us happy. We came together in summer '17 at the coding bootcamp Le Wagon in Berlin. Our goal is it to make your life easier by being able to book sport classes over your phone. Every one of us has their special talent. You can meet the team below.</p>
      </div>

      <div class="team-cards about-card row">
        <div class="team-card col-xs-6 col-sm-3">
          <%= image_tag 'Nhung', class: "team-image" %>
          <p>Nhung</p>
        </div>
         <div class="team-card col-xs-6 col-sm-3">
          <%= image_tag 'Kris', class: "team-image" %>
          <p>Kris</p>
        </div>
         <div class="team-card col-xs-6 col-sm-3">
          <%= image_tag 'Sey', class: "team-image" %>
          <p>Sey</p>
        </div>
         <div class="team-card col-xs-6 col-sm-3">
          <%= image_tag 'Maren', class: "team-image" %>
          <p>Maren</p>
        </div>

      </div>
      <div class="contact">
        <div class="fitflex-address about-card">
          <div class="address-data">
            <span class="underline">Fitflex</span><br>
            <span class="underline">Rudi-Dutschke-Straße 26</span><br>
            <span class="underline">10969 Berlin</span><br>
            <span class="underline">Germany</span><br>
          </div>
          <div class="connect">
            <span class="underline">Connect</span><br>
            <div class="connect-icons">
              <i class="fa fa-twitter-square"></i>
              <i class="fa fa-facebook-square"></i>
              <i class="fa fa-instagram"></i>
              <i class="fa fa-github-square"></i>
            </div>
          </div>
        </div>
        <div class="about-card">
          <%= image_tag 'le_wagon_berlin', class: "about-image" %>
        </div>
      </div>
    </div>
  </div>
</div>
