<div class="container banner container-home" style="background-image: url('<%= cl_image_path("tisyxhi8uquqkwfqokzh") %>');">
  <% if current_user && current_user.first_name %>
    <h3>Welcome back, <%= current_user.first_name %> </h3>
  <% elsif current_user && current_user.email%>
    <h3>Welcome back, <%= current_user.email %> </h3>
  <% else %>
    <div class="text-center not-logged-in-message">
      <h4>Flexible Time Schedule?</h4>
      <h3>Explore Fitness Around You</h3>
    </div>
  <% end %>
  <div class="home-buttons-container">
    <%= link_to courses_path(search_day: 'Today') do %>
      <div class="search-day-button">
        <h5>Today</h5>
      </div>
    <% end %>
    <%= link_to courses_path(search_day: 'Tomorrow') do %>
      <div class="search-day-button button-top-bottom-margin">
        <h5>Tomorrow</h5>
      </div>
    <% end %>
    <%= link_to courses_path(search_day: 'Any day') do %>
      <div class="search-day-button">
        <h5>7 days</h5>
      </div>
    <% end %>
  </div>

    <% unless current_user %>
    <div class="login-home">
      <div class="customer-log-in">
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path %>
      </div>
      <div class="studio-owner">
        <%= link_to "Studio Owner?", new_user_registration_path(role: "owner") %>
        <% end %>
      </div>
    </div>
</div>

