<div class="container banner" style="background-image: url('<%= cl_image_path("tisyxhi8uquqkwfqokzh") %>')">
  <% if current_user && current_user.first_name %>
    <h3>Welcome back, <%= current_user.first_name %> </h3>
  <% elsif current_user && current_user.email%>
    <h3>Welcome back, <%= current_user.email %> </h3>
  <% else %>
    <h3 class="text-center not-logged-in-message">Access fitness courses around you<br><br>Designed for people with flexible schedule</h3>
  <% end %>
  <div class="home-buttons-container">
    <%= link_to courses_path(search_day: 'today') do %>
      <div class="search-day-button">
        <h5>Today</h5>
      </div>
    <% end %>
    <%= link_to courses_path(search_day: 'tomorrow') do %>
      <div class="search-day-button button-top-bottom-margin">
        <h5>Tomorrow</h5>
      </div>
    <% end %>
    <%= link_to courses_path(search_day: 'next_seven') do %>
      <div class="search-day-button">
        <h5>7 days</h5>
      </div>
    <% end %>
  </div>

    <% unless current_user %>
      <%= link_to "Are you a studio owner?", new_user_registration_path(role: "owner") %>
    <% end %>
</div>
