<!-- Booking Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog center-modal-box" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title booking-modal-title" id="myModalLabel"> Book Now </h4>
      </div>

      <div class="modal-body booking-modal-body text-center">
        <div class="confirmation-course">
          <h4> <%= @course.title %></h4>
        </div>
        <div class="confirmation-date">
          <%= date_words(@course.start_time) %> | <%= @course.start_time.strftime("%l:%M %p") %> - <%= @course.end_time.strftime("%l:%M %p") %>
        </div>
        <div class="confirmation-address">
          <%= @course.studio.name %>
          <%= @course.studio.address %>
        </div>
        <div class="submit-payment">
          <%= form_tag booking_payments_path(booking) do %>
            <article>
              <label class="amount">
                <span>Amount: <%= humanized_money_with_symbol(booking.amount) %></span>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="<%= @booking.course.title   %>"
              data-email="<%= current_user.email %>"
              data-description="Course <%= @booking.course.title %>"
              data-amount="<%= @booking.amount_cents %>"
              data-currency="<%= @booking.amount.currency %>"></script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
