<div class="course-description">
  <div class="duration course-icon-description">
    <div class="category-image">
      <%= cl_image_tag 'clock_abwox3' %>
    </div>
    <div class="category-description">
      <%= ((@course.end_time - @course.start_time)/60).round %> mins
    </div>
  </div>
  <div class="course-category course-icon-description">
    <div class="category-image">
      <% case @course.category %>
      <% when "Yoga" %>
        <%= cl_image_tag 'buddhist-yoga-pose_mgof1t' %>
        <% when "Pilates" %>
        <%= cl_image_tag 'buddhist-yoga-pose_mgof1t' %>
      <% when "Crossfit" %>
        <%= cl_image_tag 'weightlifting_xt40om' %>
      <% when "Kickboxing", "Martial Arts" %>
        <%=  cl_image_tag 'mma_ocfpf0' %>
      <% when "Dance" %>
        <%= cl_image_tag 'dancer_yncg7a' %>
      <% when "HIIT" %>
        <%= cl_image_tag 'stretch_ee1nkk' %>
      <% end %>
    </div>
    <div class="category-description">
      <%= @course.category %>
    </div>
  </div>
  <div class="course-intensity course-icon-description">
    <div class="category-image">
      <%= cl_image_tag 'settings_y1kkba' %>
    </div>
    <div class="category-description">
      <%= @course.level %>
    </div>
  </div>
</div>

<div class="class-description">
  <h4 class="classes-heading-small"> About this course </h4>
  <p> <%= @course.description %></p>
</div>


