<div class="row-course">
    <div class="col-xs-12 course-cards-container course-color">
      <div class="course-card">
        <div class="studio-picture" style="background-image: url('<%= cl_image_path course.studio.cld_id %>');">
        </div>
        <div class="info">
          <div class="spots">
            <%= course.spots - course.bookings.length %> spots left!
          </div>
          <div class="distance">
            <i class="fa fa-map-marker"></i> <%= course.studio.distance %> km
          </div>
          <p class="course-price"> <%= course.cost.round %>€ </p>
          <h3 class="course-title"> <%= course.title %> </h3>
          <div class="studio-title">
            <h4 class="studio-card-title"><%= course.studio.name %></h4>
          </div>
          <div class="star-ratings-css-small">
            <%= render 'shared/stars', course: course %>
          </div>
          <div class="course-times">
            <% if course.start_time.to_date == Date.today %>
              Today
            <% elsif course.start_time.to_date == (Date.today + 1) %>
              Tomorrow
            <% else %>
              <%= course.start_time.strftime('%A, %b %d') %>
            <% end %>
            <br>
            <%= course.start_time.strftime("%l:%M %p") %> - <%= course.end_time.strftime("%l:%M %p") %>
          </div>
          <!-- <p class="level"><%= course.level %> </p> -->
        </div>
      </div>
    </div>
</div>
