<div class="filter-wrapper" style="background: linear-gradient(0deg, rgba(36, 149, 191,0.6) 0%, rgba(30, 62, 119,0.8) 50%);">

  <div class="filter-container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#day-tab">Day</a></li>
      <li><a data-toggle="tab" href="#category-tab">Category</a></li>
      <li><a data-toggle="tab" href="#level-tab">Level</a></li>
      <li><a data-toggle="tab" href="#distance-tab">Distance</a></li>
      <li><a data-toggle="tab" href="#price_cents-tab">Price</a></li>
    </ul>
  </div>
  <%# render 'reviews/form', courses: @courses %>
  <%# render 'shared/form-filters', courses: @courses %>
  <%= render 'courses/form_filters'  %>

  <div class="chosen-filters-container">
    <div class="chosen-filters">
      <div class="chosen-category" id="chosen-day">
      <% if params[:search_day] %>
        <p class="chosen-item">x    <%= params[:search_day].capitalize %> </p>
      <% end %>
      </div>
      <div class="chosen-category" id="chosen-category"></div>
      <div class="chosen-category" id="chosen-level"></div>
      <div class="chosen-category" id="chosen-distance"></div>
      <div class="chosen-category" id="chosen-price_cents"></div>
    </div>
    <div class="refresh-button" data-day="next_seven" data-level="" data-category="" data-distance="" data-price_cents="">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>
  </div>

  <div class="tab-content hidden">
    <div id="day-tab" class="tab-pane fade active in">
      <div class="days-container">
        <button type="button" class="button-search-options button-day <%= "active" if params[:search_day] == "today" %>" data-day="today"><p>Today</p></button>
        <button type="button" class="button-search-options button-day" data-day="tomorrow"><p>Tomorrow</p></button>
        <button type="button" class="button-search-options button-day" data-day="next_seven"><p>+7 Days</p></button>
      </div>
    </div>

    <div id="category-tab" class="tab-pane fade">
      <div class="swiper-container s1-container">
        <div class="swiper-wrapper s1-wrapper">
          <div class="swiper-slide button-category s1-slide" data-category="Yoga">
            <%= cl_image_tag 'buddhist-yoga-pose_mgof1t' %>
            <div class="category-text">
              <p>Yoga</p>
            </div>
          </div>
          <div class="swiper-slide button-category s1-slide" data-category="Crossfit">
            <%= cl_image_tag 'weightlifting_xt40om' %>
            <div class="category-text">
              <p>Crossfit</p>
            </div>
          </div>
          <div class="swiper-slide button-category s1-slide" data-category="Kickboxing">
            <%= cl_image_tag 'mma_ocfpf0' %>
            <div class="category-text">
              <p>Kickboxing</p>
            </div>
          </div>
          <div class="swiper-slide button-category s1-slide" data-category="Dance">
            <%= cl_image_tag 'dancer_yncg7a' %>
            <div class="category-text">
              <p>Dance</p>
            </div>
          </div>
          <div class="swiper-slide button-category s1-slide" data-category="Pilates">
            <%= cl_image_tag 'buddhist-yoga-pose_mgof1t' %>
            <div class="category-text">
              <p>Pilates</p>
            </div>
          </div>
          <div class="swiper-slide button-category s1-slide" data-category="HIIT">
            <%= cl_image_tag 'stretch_ee1nkk' %>
            <div class="category-text">
              <p>HIIT</p>
            </div>
          </div>
          <div class="swiper-slide button-category s1-slide" data-category="Martial Arts">
            <%= cl_image_tag 'mma_ocfpf0' %>
            <div class="category-text">
              <p>Martial Arts</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="level-tab" class="tab-pane fade">
      <div class="level-container">
        <button type="button" class="btn button-search-options button-level" data-level="Beginner"><p>Beginner</p></button>
        <button type="button" class="btn button-search-options button-level" data-level="Intermediate"><p>Intermediate</p></button>
        <button type="button" class="btn button-search-options button-level" data-level="Advanced"><p>Advanced</p></button>
      </div>
    </div>
    <div id="distance-tab" class="tab-pane fade">
      <div class="distance-container">
      <p>0 km</p>
        <!-- <input id="distance-slider" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="14"/> -->
        <input type="text" class="slider" id="distance-slider" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-selection="after" data-slider-tooltip="show">
        <p>10 km</p>
        <!-- <button type="button" class="btn button-distance" data-distance= [0..1]><p>1 km</p></button> -->
        <!-- <button type="button" class="btn button-distance" data-distance="3"><p>3 km</p></button>
        <button type="button" class="btn button-distance" data-distance="5"><p>5 km</p></button>
        <button type="button" class="btn button-distance" data-distance="10"><p>10 km</p></button> -->
      </div>
    </div>

    <div id="price_cents-tab" class="tab-pane fade">
      <div class="price_cents-container">
      <p>0€</p>
      <input type="text" class="slider" id="price_cents-slider" data-slider-value="1000" data-slider-min="0" data-slider-max="2000" data-slider-step="100" data-slider-selection="after" data-slider-tooltip="show">
        <p>20€</p>
<!--         <button type="button" class="btn button-search-options button-price_cents" data-cost="10"><p>10€</p></button>
        <button type="button" class="btn button-search-options button-cost" data-cost="7"><p>7€</p></button> -->
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){

      var filters = ['day', 'category', 'level'],
        filterSliders = ['distance', 'price_cents'];

        // filter search results for buttons
        filters.forEach( function(filter){
          $(".button-"+ filter).on("click", function(e) {
            $("#search_courses_" + filter).attr('value', $(this).attr("data-" + filter));
            $("#search_courses").submit();
          });
        });

        // filter search results for sliders
        filterSliders.forEach( function(filter){
          $("#" + filter + "-slider").change(function(){
            $("#slider-" + filter + "-form").attr('value', $(this).val());
            $("#search_courses").submit();
          });
        });



      $("#chosen-day").on("click", function() {
        $("#search_courses_day").attr('value', "next_seven");
        $("#search_courses").submit();
      });

      $("#chosen-category").on("click", function() {
        $("#search_courses_category").attr('value', "");
        $("#search_courses").submit();
      });

      $("#chosen-level").on("click", function() {
        $("#search_courses_level").attr('value', "");
        $("#search_courses").submit();
      });

      $("#chosen-distance").on("click", function() {
        $("#search_crouses_distance").attr('value', "");
        $("#search_courses").submit();
      });

      $("#chosen-price_cents").on("click", function() {
        $("#search_courses_price_cents").attr('value', "");
        $("#search_courses").submit();
      });

      $(".refresh-button").on("click", function() {
        $("#search_courses_day").attr('value', $(this).attr('data-day'));
        $("#search_courses_category").attr('value', $(this).attr('data-category'));
        $("#search_courses_level").attr('value', $(this).attr('data-level'));
        $("#search_crouses_distance").attr('value', $(this).attr('data-distance'));
        $("#search_crouses_price_cents").attr('value', $(this).attr('data-price_cents'));
        $("#search_courses").submit();
      });

      var swiper = new Swiper('.swiper-container', {
          pagination: '.swiper-pagination',
          slidesPerView: 5,
          paginationClickable: true,
          spaceBetween: 20,
          freeMode: true
      });

    });
  </script>
<% end %>

