<div class="filter-wrapper" style="background: linear-gradient(0deg, rgba(36, 149, 191,0.6) 0%, rgba(30, 62, 119,0.8) 50%);">

  <div class="filter-container">
    <ul class="search-buttons-container nav nav-tab">
      <li><a data-toggle="tab" href="#day-tab"><i class="fa fa-calendar search-tab-button"></i></a></li>
      <li><a data-toggle="tab" href="#category-tab"><i class="fa fa-filter search-tab-button"></i></a></li>
      <li><a data-toggle="tab" href="#level-tab"><i class="fa fa-sliders search-tab-button"></i></a></li>
      <li><a data-toggle="tab" href="#distance-tab"><i class="fa fa-map-marker search-tab-button"></i></a></li>
      <li><a data-toggle="tab" href="#price_cents-tab"><i class="fa fa-eur search-tab-button"></i></a></li>
    </ul>
  </div>

  <!-- Rendering ajax form on search results  - by default, no filter -->
  <%= render 'courses/form_filters'  %>


  <!-- where the active filters appear -->
  <div class="chosen-filters-container">
    <div class="chosen-filters">
      <div class="chosen-category" id="chosen-day">
        <p class="chosen-item">x    <%= params[:search_day] %> </p>
      </div>
      <% @filters.drop(1).each do |f| %>
        <div class="chosen-category" id='chosen-<%= f %>'>
        </div>
      <% end %>
    </div>
    <div class="refresh-button" data-day="Any day" data-level="" data-category="" data-distance="" data-price_cents="">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>
  </div>

  <div class="tab-content hidden">
    <div id="day-tab" class="tab-pane fade in active">
      <div class="days-container">
        <button type="button" class="button-search-options button-day <%= "active" if params[:search_day] == "today" %>" data-day="today"><p>Today</p></button>
        <button type="button" class="button-search-options button-day" data-day="tomorrow"><p>Tomorrow</p></button>
        <button type="button" class="button-search-options button-day" data-day="Any day"><p>+7 Days</p></button>
      </div>
    </div>

    <div id="category-tab" class="tab-pane fade">
      <div class="category-buttons-container">
        <div class="button-category" data-category= "Yoga">
          <%= cl_image_tag 'buddhist-yoga-pose_mgof1t', class: "category-button-image" %>
          <p class="category-text">Yoga</p>
        </div>
        <div class="button-category" data-category= "Crossfit">
          <%= cl_image_tag 'weightlifting_xt40om', class: "category-button-image" %>
          <p class="category-text">Crossfit</p>
        </div>
        <div class="button-category" data-category= "Dance">
          <%= cl_image_tag 'dancer_yncg7a', class: "category-button-image" %>
          <p class="category-text">Dance</p>
        </div>
        <div class="button-category" data-category= "Kickboxing">
          <%= cl_image_tag 'mma_ocfpf0', class: "category-button-image" %>
          <p class="category-text">Kickboxing</p>
        </div>
        <div class="button-category" data-category= "HIIT">
          <%= cl_image_tag 'stretch_ee1nkk', class: "category-button-image" %>
          <p class="category-text">HIIT</p>
        </div>
        <div class="button-category" data-category= "Pilates">
          <%= cl_image_tag 'buddhist-yoga-pose_mgof1t', class: "category-button-image" %>
          <p class="category-text">Pilates</p>
        </div>
        <div class="button-category" data-category= "Martial Arts">
          <%= cl_image_tag 'mma_ocfpf0', class: "category-button-image" %>
          <p class="category-text">Martial Arts</p>
        </div>
      </div>
    </div>

    <div id="level-tab" class="tab-pane fade">
      <div class="level-container">
        <% levels = ["Beginner", "Intermediate", "Advanced"] %>
        <% levels.each do |l| %>
          <button type="button" class="btn button-search-options button-level" data-level= '<%= l %>' ><p><%= l %></p></button>
        <% end %>
      </div>
    </div>

    <div id="distance-tab" class="tab-pane fade">
      <div class="distance-container">
        <p>0 km</p>
        <input type="text" class="slider" id="distance-slider" value='<%= @max_values[:distance] %>' data-slider-min=0 data-slider-max='<%= @max_values[:distance] %>' data-slider-step=1 data-slider-selection="after" data-slider-tooltip="show">
        <p><%= @max_values[:distance] %> km</p>
      </div>
    </div>

    <div id="price_cents-tab" class="tab-pane fade">
      <div class="price_cents-container">
      <p>0€</p>
      <input type="text" class="slider" id="price_cents-slider" data-slider-value='<%= @max_values[:price_cents] %>' data-slider-min=0 data-slider-max='<%= @max_values[:price_cents] %>' data-slider-step=100 data-slider-selection="after" data-slider-tooltip="show">
        <p><%= @max_values[:price_cents] %> €</p>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
$(document).ready(function(){

  var buttonFilters = ['day', 'category', 'level'],
    sliderFilters = {'distance': 10, 'price_cents': 3000};

    // filter search results for buttons
    buttonFilters.forEach( function(filter){
      $(".button-"+ filter).on("click", function(e) {
        $("#search_courses_" + filter).attr('value', $(this).attr("data-" + filter));
        $("#search_courses").submit();
      });
    });

    // filter search results for sliders
    Object.keys(sliderFilters).forEach(function(filter) {
      $("#" + filter + "-slider").change(function(){
        $("#slider-" + filter + "-form").attr('value', $(this).val());
        $("#search_courses").submit();
      });
    });

  // Reset to default filter values when clicking on button-filter in filter-container
  buttonFilters.forEach( function(filter) {
    $("#chosen-" + filter).on("click", function() {
      $("#search_courses_" + filter).attr('value', "Any " + filter);
      $("#search_courses").submit();
    });
  });

  // Reset to default filter values when clicking on slider-filter in filter-container
  Object.keys(sliderFilters).forEach(function(filter) {
    $("#chosen-" + filter).on("click", function() {
      $("#slider-" + filter + "-form").attr('value', sliderFilters[filter]);
      $("#search_courses").submit();
    });
  });

  // Reset button-filters on reset-button click
  buttonFilters.forEach( function(filter){
    $(".refresh-button").on("click", function() {
      $("#search_courses_" + filter).attr('value', $(this).attr("data-" + filter));
      $("#search_courses").submit();
    });
  });

  // Reset slider-filters on reset-button click
  Object.keys(sliderFilters).forEach( function(filter){
    $(".refresh-button").on("click", function() {
      $("#slider-" + filter + "-form").attr('value', sliderFilters[filter]);
      $("#search_courses").submit();
    });
  });

  // swiper for categories-selection
  var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      slidesPerView: 5,
      paginationClickable: true,
      spaceBetween: 20,
      freeMode: true
  });

});
  </script>
<% end %>

