<div class="filter-wrapper" style="background: linear-gradient(0deg, rgba(36, 149, 191,0.6) 0%, rgba(30, 62, 119,0.8) 50%);">

  <div class="filter-container">
    <ul class="search-buttons-container nav nav-tab">
      <li><a data-toggle="tab" href="#day-tab"><i class="fa fa-calendar search-tab-button"></i></a></li>
      <li><a data-toggle="tab" href="#category-tab"><i class="fa fa-filter search-tab-button"></i></a></li>
      <li><a data-toggle="tab" href="#level-tab"><i class="fa fa-sliders search-tab-button"></i></a></li>
      <li><a data-toggle="tab" href="#distance-tab"><i class="fa fa-map-marker search-tab-button"></i></a></li>
      <li><a data-toggle="tab" href="#price_cents-tab"><i class="fa fa-eur search-tab-button"></i></a></li>
    </ul>
  </div>

  <!-- Rendering ajax form on search results  - by default, no filter -->
  <%= render 'courses/form_filters'  %>


  <!-- where the active filters appear -->
  <div class="chosen-filters-container">
    <div class="chosen-filters">
      <div class="chosen-category" id="chosen-day">
        <p class="chosen-item">x    <%= params[:search_day] %> </p>
      </div>
      <% @filters.drop(1).each do |f| %>
        <div class="chosen-category" id='chosen-<%= f %>'>
        </div>
      <% end %>
    </div>
    <div class="refresh-button" data-day="Any day" data-level="" data-category="" data-distance="" data-price_cents="">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>
  </div>

  <div class="tab-content hidden">
    <div id="day-tab" class="tab-pane fade in active">
      <div class="days-container">
        <button type="button" class="button-search-options button-day <%= "active" if params[:search_day] == "today" %>" data-day="today"><p>Today</p></button>
        <button type="button" class="button-search-options button-day" data-day="tomorrow"><p>Tomorrow</p></button>
        <button type="button" class="button-search-options button-day" data-day="Any day"><p>+7 Days</p></button>
      </div>
    </div>

    <div id="category-tab" class="tab-pane fade">
      <div class="swiper-container s1-container">
        <div class="swiper-wrapper s1-wrapper">
          <% category_icons = ['weightlifting_xt40om', 'dancer_yncg7a', 'buddhist-yoga-pose_mgof1t', 'stretch_ee1nkk', 'mma_ocfpf0', 'mma_ocfpf0', 'buddhist-yoga-pose_mgof1t', 'buddhist-yoga-pose_mgof1t'] %>
          <% @categories.zip(category_icons).each do |c, i| %>
            <div class="swiper-slide button-category s1-slide" data-category='<%= c %>' >
              <%= cl_image_tag i %>
              <div class="category-text">
                <p> <%= c %> </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="level-tab" class="tab-pane fade">
      <div class="level-container">
        <% levels = ["Beginner", "Intermediate", "Advanced"] %>
        <% levels.each do |l| %>
          <button type="button" class="btn button-search-options button-level" data-level= '<%= l %>' ><p><%= l %></p></button>
        <% end %>
      </div>
    </div>

    <div id="distance-tab" class="tab-pane fade">
      <div class="distance-container">
      <p>0 km</p>
        <input type="text" class="slider" id="distance-slider" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-selection="after" data-slider-tooltip="show">
        <p>10 km</p>
      </div>
    </div>

    <div id="price_cents-tab" class="tab-pane fade">
      <div class="price_cents-container">
      <p>0€</p>
      <input type="text" class="slider" id="price_cents-slider" data-slider-value="1000" data-slider-min="0" data-slider-max="2000" data-slider-step="100" data-slider-selection="after" data-slider-tooltip="show">
        <p>20€</p>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){

      var buttonFilters = ['day', 'category', 'level'],
        sliderFilters = ['distance', 'price_cents'],
        allFilters = buttonFilters.concat(sliderFilters);

        // filter search results for buttons
        buttonFilters.forEach( function(filter){
          $(".button-"+ filter).on("click", function(e) {
            $("#search_courses_" + filter).attr('value', $(this).attr("data-" + filter));
            $("#search_courses").submit();
          });
        });

        // filter search results for sliders
        sliderFilters.forEach( function(filter){
          $("#" + filter + "-slider").change(function(){
            $("#slider-" + filter + "-form").attr('value', $(this).val());
            $("#search_courses").submit();
          });
        });


      // Reset to default filter values when clicking on filter in filter-container
      allFilters.forEach( function(filter) {
        $("#chosen-" + filter).on("click", function() {
          $("#search_courses_" + filter).attr('value', "Any " + filter);
          $("#search_courses").submit();
        });
      });

      // Reset button
      allFilters.forEach( function(filter){
        $(".refresh-button").on("click", function() {
          $("#search_courses_" + filter).attr('value', $(this).attr("data-" + filter));
        });
      });

      // swiper for categories-selection
      var swiper = new Swiper('.swiper-container', {
          pagination: '.swiper-pagination',
          slidesPerView: 5,
          paginationClickable: true,
          spaceBetween: 20,
          freeMode: true
      });

    });
  </script>
<% end %>

