<%= simple_form_for(@course) do |f| %>
  <div class="container">
    <div class="form-inputs">

      <%= f.input :title, required: true, autofocus: true %>
      <%= f.input :start_time, required: true, autofocus: true %>
      <%= f.input :end_time, required: true, autofocus: true %>
      <%= f.input :spots, required: true, autofocus: true %>
      <%= f.input :description, required: true, autofocus: true %>
      <%= f.input :category, required: true, autofocus: true %>
      <%= f.input :level, required: true, autofocus: true %>
      <%= f.submit "Register course", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
