<p><i class="fa fa-car"></i><%= @json_driving %></p>
<p><i class="fa fa-subway"></i><%= @json_transit %></p>
<p><%= image_tag 'pedestrian-walking', class: 'walker' %><%= @json_walking %></p>
<p><i class="fa fa-bicycle"></i><%= @json_bicycle %></p>

