
<div class="studio-address-map">
  <div class="studio-info">
    <h4 class="classes-heading-small">The Studio</h4>
    <p class="studio-address"><strong> <%= @course.studio.name %> </strong></br> <%= @course.studio.address %></p>
  </div>

  <p class="studio-address"> <%= @json_distance%> away</p>

</div>

<div class="container">
    <div id="activeBorder" class="active-border">
        <div id="circle" class="circle">
            <span class="prec 270" id="prec">0%</span>
        </div>
    </div>
</div>







<div class="call_to_action">
<%= link_to 'Check out the Studio', studio_path(@studio.id), class: "call-to-action-button studio-address border-right-cta" %>

<%= link_to 'Get directions', "https://maps.google.com?saddr=#{@la.to_s},#{@lo.to_s}&daddr=#{URI.encode(@course.studio.address)}&mode=bicycling&key=#{ENV['GOOGLE_API_SERVER_KEY']}", class: "call-to-action-button studio-address" %>
</div>
<div id="map" style="width: 100%; height: 150px;">

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
        $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
        <!-- handler.getMap().setZoom(2); -->
      } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
    });
    });
var i = 0 , prec;
var degs = $("#prec").attr("class").split(' ')[1];
var activeBorder = $("#activeBorder");

setTimeout(function(){
    if($("#circle").is(":hover"))
       loopit("c");
    else
       loopit("nc");
},1);

function loopit(dir){
    if (dir == "c")
        i++
    else
        i--;
    if (i < 0)
        i = 0;
    if (i > degs)
        i = degs;
    prec = (100*i)/360;
    $(".prec").html(Math.round(prec)+"%");

    if (i<=180){
        activeBorder.css('background-image','linear-gradient(' + (90+i) + 'deg, transparent 50%, #A2ECFB 50%),linear-gradient(90deg, #A2ECFB 50%, transparent 50%)');
    }
    else{
        activeBorder.css('background-image','linear-gradient(' + (i-90) + 'deg, transparent 50%, #39B4CC 50%),linear-gradient(90deg, #A2ECFB 50%, transparent 50%)');
    }

    setTimeout(function(){
        if($("#circle").is(":hover"))
            loopit("c");
        else
           loopit("nc");
    },1);

}
    <% end %>
  <% end %>
</div>

