<!-- This partial is also rendered in Reviews#new view -->
<%= render 'courses/show_top_content', course: @course %>

<%= render 'reviews/index' %>

<div class="room-for-button">
  <%= render 'courses/course_studio' %>
  <%= render 'courses/map' %>
</div>

<% if @existing_booking %>
  <%= link_to user_path(current_user) do %>
    <button class="new-booking-button text-center">
      <h3 class="new-booking-heading">View Your Booking</h3>
    </button>
  <% end %>
<% else %>
  <div class="payment">
    <%= simple_form_for @booking, remote: true do |f| %>
      <%= f.input :course_id, input_html: {value:  @course.id}, as: :hidden %>
      <%= f.button :submit, "Join", class: 'new-booking-button new-booking-button-join' %>
    <% end %>
  </div>
<% end %>

<div id="payment-modal">
  <% if @booking.persisted? %>
    <%= render 'payments/new', booking: @booking %>
  <% end %>
</div>

<% if current_user %>
  <%= render 'bookings/new', course: @course, date_words: @date_words %>
<% else %>
  <%= render 'bookings/login', course: @course, date_words: @date_words %>
<% end %>

