<div class="course-banner" style="background-image: url('<%= image_path 'crossfit' %>');">
  <h3><%= @course.title %></h3>
  <%= render 'shared/stars' %>
</div>
<div class="blue-banner" style="background: linear-gradient(-225deg, rgba(36, 149, 191,0.6) 0%, rgba(47, 76, 155,0.6) 50%); height: 5vh;">
  <%= @date_words %>  <%= @course.start_time.strftime ("%l:%M %P") %>
  <div class="prices">
    <%= @course.cost%><i class="fa fa-euro"></i>
  </div>
</div>

<%= render 'shared/course_descriptions_icons' %>
<%= render 'shared/reviews' %>

<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&key=#{ENV['GOOGLE_API_SERVER_KEY']}&maptype=roadmap&markers=color:red|@course.studio.address"  %>


