<div class="course-banner" style="background-image: linear-gradient(to right bottom, rgba(10,10,10,0.6), rgba(100,100,100,0.6)),url('<%= cl_image_path @course.studio.cld_id %>');">
<%= link_to courses_path, {class: "button-back"} do %>
  <i class="fa fa-chevron-circle-left"></i>
<% end %>
  <h3 class="course-show-title text-center"><%= @course.title %></h3>
  <div class="star-ratings-css-medium text-center">
    <%= render 'shared/stars', course: @course %>
  </div>
</div>
<%= render 'shared/time-cost-banner' %>

<%= render 'shared/course_descriptions_icons' %>

<div id="room_for_error">
  <% if @booking && @booking.errors.any? %>
    <%= render 'bookings/booking_error_message' %>
  <% end %>
</div>

<%= render 'shared/reviews' %>

<div class="room-for-button">
  <%= render 'shared/map' %>
</div>

<%= render 'shared/booking_modal', course: @course, date_words: @date_words %>


