<!-- This partial is also rendered in Reviews#new view -->
<%= render 'courses/show_top_content', course: @course %>


<%= render 'reviews/index' %>

<div class="room-for-button">
  <%= render 'courses/map' %>
</div>

<% if @existing_booking %>
  <%= link_to 'View Your Booking', booking_path(@existing_booking), class: 'new-booking-button'  %>
<% else %>
  <div class="payment">
    <%= simple_form_for @booking, remote: true do |f| %>
      <%= f.input :course_id, input_html: {value:  @course.id}, as: :hidden %>
      <%= f.button :submit, "Join", class: 'new-booking-button' %>
    <% end %>
  </div>
<% end %>

<div id="payment-modal">
  <% if @booking.persisted? %>
    <%= render 'payments/new', booking: @booking %>
  <% end %>
</div>

