<!-- This partial is also rendered in Reviews#new view -->
<%= render 'courses/show_top_content', course: @course %>

<!-- Rest of this is not -->
<div id="room_for_error">
  <% if @booking && @booking.errors.any? %>
    <%= render 'bookings/booking_error_message' %>
  <% end %>
</div>

<%= render 'reviews/index' %>

<div class="room-for-button">
  <%= render 'courses/map' %>
</div>

<% if current_user %>
  <%= render 'bookings/new', course: @course, date_words: @date_words %>
<% else %>
  <%= render 'bookings/login', course: @course, date_words: @date_words %>
<% end %>
