<div class="course-banner" style="background-image: url('<%= image_path 'crossfit' %>');">
  <h3><%= @course.title %></h3>
  <div class="star-ratings-css">
    <div class="star-rating-css-top" style = "width: <%= @course.average_rating %>%;">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
    </div>
    <div class="star-rating-css-bottom">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
    </div>
  </div>
</div>
<div class="blue-banner" style="background: linear-gradient(-225deg, rgba(36, 149, 191,0.6) 0%, rgba(47, 76, 155,0.6) 50%); height: 5vh;">
  <%= @date_words %>  <%= @course.start_time.strftime ("%I %P") %>
  <div class="prices">
    <%= @course.cost%><i class="fa fa-euro"></i>
  </div>
</div>

<div class="course-description">
  <div class="duration">
    <i class="fa fa-clock-o" style="color: black;"></i> <%= ((@course.end_time - @course.start_time)/60).round %> mins
  </div>
  <div class="course-category">
  </div>
</div>



