<!-- This partial is also rendered in Reviews#new view -->
<%= render 'courses/show_top_content', course: @course %>

<!-- Rest of this is not -->
<div id="room_for_error">
  <% if @booking && @booking.errors.any? %>
    <%= render 'bookings/booking_error_message' %>
  <% end %>
</div>

<%= render 'reviews/index' %>

<div class="room-for-button">
  <%= render 'courses/map' %>
</div>
        <div class="payment">
          <%= form_tag bookings_path do %>
            <%= hidden_field_tag 'course_id', @course.id %>
            <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
          <% end %>
        </div>


