<!-- This file is a partial for rendering in Courses#show, hence the underscore in the title -->
<div class="reviews-title">
<h4>All reviews (<%= @course.reviews.length %>)</h4>
</div>
<div class="swiper-container review-cards">
  <div class="swiper-wrapper">
    <% @course.reviews.each do |review| %>
    <div class="swiper-slide ">
      <div class="rev inner-review">
        <div class="user-review">
          <div class="user-review-image">
          <% if review.user.photo? %>
            <%= cl_image_tag(review.user.photo, class: 'avatar-medium') %>
          <% elsif review.user.cld_id %>
            <%= cl_image_tag(review.user.cld_id, class: 'avatar-medium') %>
          <% elsif review.user.facebook_picture_url %>
            <%= image_tag facebok_picture_url, class: 'avatar-medium' %>
          <% else %>
            <%= image_tag 'placeholder', class: 'avatar-medium' %>
          <% end %>
          </div>
          <p>
            <%= review.user.first_name %>
          </p>
        </div>
        <div class="review-content">
          <div class="review_title">
            <%= review.title %>
          </div>
          <div class="items">
            <p class="item-short"><%= review.content.first(30)%>...</p>
            <a href="#" class="review-item">Show full review > </a>
            <p class="item-short hidden"><%= review.content%></p>
            <a href="#" class="review-item hidden">Show less</a>
          </div>
          <div class="review-rating">
            <% review.rating.times do %>
            <i class="fa fa-star"></i>
            <% end %>
            <% (5- review.rating).times do %>
            <i class="fa fa-star-o"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <!-- <div class="swiper-pagination sw-pa"></div> -->
  </div>
</div>


<%content_for(:after_js) do %>
<script>

  $(function(){
    $('.review-item').click(function(event){
        $(this).siblings('.item-short').toggleClass('hidden');
        $(this).toggleClass('hidden');
        $(this).siblings('a').toggleClass('hidden');
        // $(this).siblings('item-long').removeClass('hidden');
        // $(this).siblings('hide-item').removeClass('hidden');
        $('.inner-review').toggleClass('large-review');
      });
  //   $('.items').each(function(event){
  //     $(this).find('.hide-item').click(function(event){
  //       $(this).parent().hide();
  //       $(this).parents('.items').find('.item-short').show();
  //       $('.inner-review').css('height', '130px');
  //     });
  //   });
   });

  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    slidesPerView: 1,
    paginationClickable: true,
    spaceBetween: 00,
    loop: true,
    width: 350,
  });
</script>
<% end %>

