<!-- This file is a partial for rendering in Courses#show, hence the underscore in the title -->

<<<<<<< HEAD
<div class="swiper-container review-cards">
  <div class="swiper-wrapper">
    <% @course.reviews.each do |review| %>
    <div class="swiper-slide ">
      <div class="rev inner-review">
        <div class="user-review">
          <div class="user-review-image">
            <%= image_tag 'placeholder', class: 'avatar-medium' %>
          </div>
          <p>
            <%= review.user.first_name %>
          </p>
        </div>
        <div class="review-content">
          <div class="review_title">
            <%= review.title %>
          </div>
          <div class="items">
            <div class="item-short">
              <p><%= review.content.first(30)%>...</p>
              <a href="#" class="show-item">Show full review > </a>
            </div>
            <div class="item-long">
              <p><%= review.content%></p>
              <a href="#" class="hide-item">Show less</a>
            </div>
          </div>
          <div class="review-rating">
            <% review.rating.times do %>
            <i class="fa fa-star"></i>
            <% end %>
            <% (5- review.rating).times do %>
            <i class="fa fa-star-o"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <div class="swiper-pagination sw-pa"></div>
  </div>
</div>


<%content_for(:after_js) do %>
<script>

  $(function(){
    $('.item-long').hide();
    $('.items').each(function(event){
      $(this).find('.show-item').click(function(event){
        $(this).parent().hide();
        $(this).parents('.items').find('.item-long').show();
        $('.inner-review').css('height', '180px');
      });
    });
    $('.items').each(function(event){
      $(this).find('.hide-item').click(function(event){
        $(this).parent().hide();
        $(this).parents('.items').find('.item-short').show();
        $('.inner-review').css('height', '130px');
      });
    });
  });

  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    slidesPerView: 1,
    paginationClickable: true,
    spaceBetween: 00,
    loop: true,
    width: 350,
  });
</script>
<% end %>

