
<div class="container">
  <% if @owner %>
    <%= cl_image_tag @studio.photo.path, class: "studio-image-show" %>
  <% else %>
    <%= cl_image_tag @studio.cld_id, class: "studio-image-show" %>
  <% end %>
<div class="studio-description">
<h3><%= @studio.name %></h3>
<p><%= @studio.description %></p>

<% if @owner %>
  <h6>Hello, <%= @owner.first_name  || @owner.email %> </h6>
  <div class="create-items-container">
    <%= link_to "Add an instructor", new_user_registration_path(role: "instructor"), class: "btn btn-primary" %>
    <%= link_to "Add a course", new_course_path, class: "btn btn-primary" %>
  </div>
<% else %>
  <%= render "instructor_list", users: @users %>
<% end %>
</div>


<h6>Studio Address</h6>
<p class="studio-address"><%= @studio.address %></p>
<p class="studio-address"> <i class="fa fa-phone"></i><%= @studio.telephone %></p>



<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=375x150&sensor=false&key=#{ENV['GOOGLE_API_SERVER_KEY']}&maptype=roadmap&markers=color:red|#{@studio.address}" %>
</div>
