<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Fitflex - Fitness courses for flexible schedule">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.fit-flex.de/">
    <!-- image!! -->

    <meta property="og:image" content="<%= image_path 'summary_large_image.png' %>">
    <meta property="og:description" content="Access fitness courses around you, designed for people with flexible schedule">
    <meta property="og:site_name" content="Fitflex">
    <meta property="fb:app_id" content="473916929647233">
    <meta name="twitter:card" content='summary_large_image'>
    <meta name="twitter:site" content="@Lewagonberlin">
    <meta name="twitter:title" content="Fitflex - Fitness courses for flexible schedule">
    <meta name="twitter:description" content="Access fitness courses around you, designed for people with flexible schedule">
    <meta name="twitter:creator" content="@Lewagonberlin">
    <meta name="twitter:image:src" content="<%= image_path 'summary_large_image.png' %>">

    <!-- Add Icon next to the title. Feel free to change the icon -->
    <%= favicon_link_tag 'yoga-favicon.ico' %>
    <!-- Add 'Fitflex as title, unless title is specified' -->
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Fitflex - Access fitness courses around you, designed for people with flexible schedule
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.css" %>
  </head>
  <body>
    <% if params[:controller] == "pages"%>
      <%= render 'shared/sidenavbar' %>
    <% else %>
      <%= render 'shared/sidenavbar_solid' %>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
    <script srx="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.js"></script>

    <%= yield(:after_js) %>
  </body>
</html>
